html {
  height: 100%;
}
body {
  background: powderblue;
  align-content: center;
}
#root {
  align-items: center;
}

.login-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
  background-color: rgb(219, 237, 240);
  padding: 32px;
  border-radius: 5%;
  align-content: center;
  margin-top: 200px;
}
.login {
  text-align: center;
}
.login-btn {
}
.container {
  justify-content: center;
  display: flex;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  flex-direction: column;
  margin: 50px;
}
.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.add-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.home-container {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.random-btn {
  width: 200px;
  margin-bottom: 75px;
}
.home-container h1 {
  margin: 100px 0px 50px 0px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .login-section {
    width: 65%;
    margin-top: 100px;
  }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
}
