html {
  height: 100%;
}
body {
  background: powderblue;
  align-content: center;
}
#root {
  align-items: center;
}

.login-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
  background-color: rgb(219, 237, 240);
  padding: 32px;
  border-radius: 5%;
  align-content: center;
  margin-top: 200px;
}
.login {
  text-align: center;
}
.login-btn {
}
.container {
  justify-content: center;
  display: flex;
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  flex-direction: column;
  margin: 50px;
}
.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.add-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.home-container {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.random-btn {
  width: 75px;
}
.home-container h1 {
  margin: 100px 0px 50px 0px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content ul:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:active .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown 
content is shown */
/* .dropdown:hover .dropbtn {
  background-color: #0a065d;
} */

.drop-menus {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btn-container {
  display: flex;
}
.random-restaurant {
  padding-top: 100px;
}
.btn-list {
  list-style: none;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .login-section {
    width: 65%;
    margin-top: 100px;
  }
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }
}
